.form {
  &__group {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    color: inherit;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    //защото при фокусиране и появата на долница граница ще подмести леко елемента, защото иначе ще е допълнително добавяне
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      //инпут полетата по подразбиране имат очертание при задържане
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }
    //селекотр, който се активира, когато полето е невалидно(има невалидни данни)
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    //селектор, който обхваща плейсхолдъра в инпут полетата
    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    //отстояние отляво, за да застане точно под името в инпут полето
    margin-left: 2rem;
    margin-top: 0.7rem;
    //за да застане под инпут полето
    display: block;
    transition: all 0.3s;
  }
  //ще се активира, когато плейсхолдъра в инпут полето е видимо
  //лейбъла ще е невидим, докато плейсхолдъра е видим и обратно
  //+ хваща братски елемент, следващият след елемента на 1 ниво
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    //падащ ефект
    transform: translateY(-4rem);
  }

  &__radio-group {
    //за да застанат еднло до друго
    width: 49%;
    display: inline-block;
  }

  &__radio-input{
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    //правим кръг, за да го поставим над редио бутона, защото радио бутона не може да се стилизира
    //ще използваме само функциите на радио бутона, дали е натиснат или не
    //всъщност ще е невидим(не скрит, а невидим)
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -0.4rem;

    //точка в средата на кръга/бутона
    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      //първоначално няма да се вижда
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  //когато радио бутонът е избран
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    //за да стане точицата в кръга/бутона видима
    opacity: 1;
  }
}
