/*заменяме пикселите"px" с "rem"*/
/*rem ще се изчисли спрямо размера на шрифта в html*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*всички елементи ще наследят размера от родителя(от "body")*/
}
html {
  font-size: 62.5%; /*това са 10px в проценти(10/16=0.625 0.625*100=62.5%)*/
  /*по подразбиране шрифта е 16px*/
}
body {
  box-sizing: border-box;
}